@model EcolePoleDance.Models.ClientModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Bienvenu.e @Model.Prenom</p>

<a href="~/Home/Index" class="btn btn-default">Retour Zone</a>
<a href="~/Membre/Home/Logout" class="btn btn-danger">Logout</a>