@model EcolePoleDance.Web.Models.CoursViewModel
@{
    ViewBag.Title = "Cours";
}
<script>
    $(window).load(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<!--=====================
          Content
======================-->
<section id="content">
    <div class="ic">More Website Templates at TemplateMonster.com - October 06, 2014!</div>
    <div class="container_12">
        <div class="grid_5">
            <h2 class="inset__1">Notre Horaire</h2>
            <p class="color1">Nous sommes ouverts tous les jours de la semaine.</p>
            <p>Chaque cours est donnée <strong>2 fois par semaine</strong>, pour vous permettre de ne jamais rater vos cours préférés.</p>
            <table id="table-1">
                <tr>
                    <td>Monday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Saturday  </td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Sunday  </td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
            </table>
        </div>
        <div class="grid_6 prefix_1">
            <h2 class="inset__1">Nos salles et équipements</h2>
            <p class="color1">Nous disposons d'une salle avec les barres de pole, d'une salle pour le renforcement musculaire et des vestiaires comfortables.</p>
            <p>Tout l'équipement est présent sur place : vous devrez juste venir avec votre serviette et bouteille d'eau.</p>
            <p>N'oubliez pas de vous assurer une place au cours <br /><strong>en réservant au moins 24 heures avant !</strong></p>
            <div class="grid_3 alpha">
                <ul class="list-1 inset__1">
                    <li><a href="#">Facilement accessible en transport en commun</a></li>
                    <li><a href="#">Un endroit calme et relaxant pour vous détendre</a></li>
                </ul>
            </div>
            <div class="grid_3 omega">
                <ul class="list-1 inset__1">
                    <li><a href="#">Un incroyable offre de cours pour tous les gôuts</a></li>
                    <li><a href="#">Places résérvables à l'avance</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="grid_12">
            <div class="sep-1 offset__1"></div>
        </div>


        <div class="container_12">
            <h2>TOUS NOS COURS</h2>
            @for (int i = 0; i < Model.Cours.Count; i++)
            {
                if (i % 2 == 0)
                {
                    <div class="grid_5 ta__center">
                        <h3 class="offset__2">@Model.Cours[i].NomCours</h3>
                        <img src="/images/@Model.Cours[i].Image" alt="image-cours" class="cours-photo">
                        <div class="extra_wrapper">
                            <p class="color1">@Model.Cours[i].Description</p>
                            <p>Professeur : (innerJoin from table Prof)</p>
                            <a href="/Home/Equipe" class="link-1 color1">À propos du professeur</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="grid_6 prefix_1 ta__center">
                        <h3 class="offset__2">@Model.Cours[i].NomCours</h3>
                        <img src="/images/@Model.Cours[i].Image" alt="image-cours" class="cours-photo">
                        <div class="extra_wrapper">
                            <p class="color1">@Model.Cours[i].Description</p>
                            <p>Professeur : (innerJoin from table Prof)</p>
                            <a href="/Home/Equipe" class="link-1">À propos du professeur</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                }
            }
        </div>
    </div>
</section>

