
@{
    ViewBag.Title = "Cours";
}
<script>
    $(window).load(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<!--=====================
          Content
======================-->
<section id="content">
    <div class="ic">More Website Templates at TemplateMonster.com - October 06, 2014!</div>
    <div class="container_12">
        <div class="grid_5">
            <h2 class="inset__1">Notre Horaire</h2>
            <p class="color1"><a href="#">Momus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libero. </a></p>
            Koraesent faucibus malesuada faucibus. Doneclaoreet metus id laoreeto. Lorem ipsum dolor sit amet
            <table id="table-1">
                <tr>
                    <td>Monday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>7 pm - 10 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Saturday  </td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
                <tr>
                    <td>Sunday  </td>
                    <td>2 pm - 5 pm (All lessons)</td>
                </tr>
            </table>
        </div>
        <div class="grid_6 prefix_1">
            <h2 class="inset__1">Nos salles et équipements</h2>
            <p class="color1">Gemus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libere. </p>
            <p>Praesent faucibus malesuada faucibus. Donec laoreet metus iderto laoreeto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed adipiscing elit. Onulla facilisisertolo mon consequat. Curabitur vel lorem sit amet nulla ullamcorper der gerto fermentum. In vitae varius augue, eu consectetur liguladui.</p>
            Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tincidunt nulla, eu sodales arcub.
            <div class="grid_3 alpha">
                <ul class="list-1 inset__1">
                    <li><a href="#">Vivamus at magna non nunc </a></li>
                    <li><a href="#">Aliquam nibh ante, egestas id</a></li>
                </ul>
            </div>
            <div class="grid_3 omega">
                <ul class="list-1 inset__1">
                    <li><a href="#">Mivamus at magna non nunc </a></li>
                    <li><a href="#">Kliquam nibh ante, egestas id</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="grid_12">
            <div class="sep-1 offset__1"></div>
        </div>
        <div class="grid_5">
            <h3 class="offset__1">Cours 1</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_6 prefix_1">
            <h3 class="offset__2">Cours 2</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_5">
            <h3 class="offset__1">Cours 1</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_6 prefix_1">
            <h3 class="offset__2">Cours 2</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_5">
            <h3 class="offset__1">Cours 1</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_6 prefix_1">
            <h3 class="offset__2">Cours 2</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_5">
            <h3 class="offset__1">Cours 1</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
        <div class="grid_6 prefix_1">
            <h3 class="offset__2">Cours 2</h3>
            <img src="/images/page3_img1.jpg" alt="" class="fleft">
            <div class="extra_wrapper">
                <p class="color1">Bomus at magna non nunc tristique rhoncuser.</p>
                Sasectetur orci sed adipiscing elit.  <br>
                <a href="/Home/Equipe" class="link-1">à propos du professeur</a>
            </div>
        </div>
    </div>
</section>

