@model EcolePoleDance.Models.ClientModel
@{
    ViewBag.Title = "Zone Membre";
    Layout = "~/Areas/Membre/Views/Shared/_MembreLayout.cshtml";
}

<section id="content" class="color1-background">
    <div class="container_12">
        <h2 class="color1 inset__1">Mon Compte</h2>
        <h3>Bienvenu.e @Model.Prenom @Model.Nom</h3>
        <p>@Model.Email</p>
        <br /><br />
    <div class="grid_6 prefix_1">
        <p class="color1">Pour acheter un nouvel abonnement, cliquez <a href="/Membre/Home/Abonnements">ici</a></p>
        <p class="color1">Pour réserver des cours, cliquez <a href="/Membre/Home/Cours">ici</a></p>
        <p class="color1">Pour mettre à jour vos données personnelles, cliquez <a href="#">ici</a></p>
    </div>
        <div class="clear"></div>
    </div>
</section>